#page {
  overflow: hidden;
  width: 750px;
}

#prompt {
  font-family: monospace;
  font-size: 20px;
  position: relative;
}

#result {
  background-color: lightyellow;
  font-family: monospace;
  font-size: 20px;
  position: relative;
}

#description {
  font-family: monospace;
  position: relative;
}

#actions {
  padding: 10px;
  position: relative;
}

#directions {
  padding: 10px;
  position: relative;
}

.action,
.direction {
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  margin-left: 20px;
}

.action {
  color: #008080;
}

.direction {
  color: #008000;
}

.word,
.loc {
  text-transform: uppercase;
  font-weight: bold;
}

.word {
  color: #006060;
}

.loc {
  color: #006000;
}