#page {
	overflow: hidden;
  width: 750px;
}

#prompt {
	font-family: monospace;
  font-size: 20px;
	position: relative;
}

#result {
  background-color: lightyellow;
	font-family: monospace;
	font-size: 20px;
	position: relative;
}

#actions {
  padding: 10px;
	position: relative;
}

.action {
	color: #008080;
	cursor: pointer;
  display: inline-block;
	font-family: sans-serif;
	margin-left: 20px;
}

.word {
	color: #006060;
  text-transform: uppercase;
  font-weight: bold;
}